.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(26, 9, 46);
    padding: 10px 0;
}

#main-logo {
    width: 300px;
    margin: 0 auto;
    display: block;
    box-shadow: 5px 5px 10px rgba(26, 9, 46);
}

#character-nav {
    background-color: #675050;
    background-image: url(../images/jjk\ banner.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

#character-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#character-nav ul li {
    height: 220px;
    margin: 10px 8px;
    background-color: black;
    box-shadow: 0 155px 0 0 rgb(37, 1, 48) inset;
    transition: box-shadow 0.2s ease-in-out;
}

#character-nav ul li:hover {
    box-shadow: 0 220px 0 0 rgb(255,0,0) inset;
}

#character-nav ul li h2 {
    color: white;
    font-size: 16px;
    text-align: center;
}

#character-nav ul li a {
    text-decoration: none;
}

.sprite {
    width: 150px;
    height: 150px;
    background-image: url(../images/JJKSprites.png);
}

#yuji {
    background-position: -150px 0;
}

#megu {
    background-position: -300px 0;
}

#noba {
    background-position: -450px 0;
}

#geto {
    background-position: -600px 0;
}

#nana {
    background-position: -750px 0;
}

#gojo:hover, #yuji:hover, #megu:hover, #noba:hover, #geto:hover, #nana:hover{
    background-position-y: -150px;
}

#instructions {
    padding: 20px;
    text-align: center;
}

#instructions h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

footer {
    padding: 20px 0;
    text-align: center;
    background-color: rgb(40, 37, 37);
    height: 80px;
    position: sticky;
    top: 100%;
}

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.85);
    background-image: url(../images/gojo\ tp\ erm.png);
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
    display: none;
    text-align: right;
}

#lightbox2 {
    background-image: url(../images/yuji\ tp\ erm.png);
}

#lightbox3 {
    background-image: url(../images/megu\ tp\ erm.png);
}

#lightbox4 {
    background-image: url(../images/nobara\ tp.png);
}

#lightbox5 {
    background-image: url(../images/geto\ tp.png);
}

#lightbox6 {
    background-image: url(../images/nanami\ tp.webp);
}


.lightbox:target {
    display: block;
}

.lightbox-close {
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 20px;
    margin-top: 20px;
}

.lightbox-close:hover { 
    opacity: 0.5; color: red; 
}

.lightbox article {
    width: 600px;
    margin-left: 40%;
    padding-top: 50px;
}

.lightbox p, .lightbox h3 {
    text-align: left
}